VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN="brothersoutfitgallary.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="brothersoutfitgallary"
VITE_FIREBASE_STORAGE_BUCKET="brothersoutfitgallary.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="463078313603"
VITE_FIREBASE_APP_ID="1:463078313603:web:1212678d7d41a3c02115b6"
VITE_FIREBASE_MEASUREMENT_ID="G-3V9L3FSFEN"

RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
VITE_RAZORPAY_KEY_ID=""
